body {
  background: #edeef0;
}

ul {
  background: white;
  margin: auto;
  position: relative;
  width: 50%;
  padding: 10px;
}

.attachment-block {
  
}

.item {
  position: relative;
  font-size: 13px;
  padding: 5px;
}

.item:hover {
  background-color: beige;
  cursor: pointer;
}

.chat-photo {
  display: block;
  margin: auto;
  float: left;
  position: relative;
}

.photo-circle {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 90%;
  float: left;
}

.text {
  font-size: 14.0px;
  font-weight: 500;
  position: relative;
}

.title {
  font-size: 16.0px;
  font-weight: 500;
}

.texts {
  position: relative;
  left: 15px;
}

.main-title {
  position: relative;
  left: 0px;
  top: 0px;
}

.time {
  color: #777e8c;
  font-size: 12.5px;
  right: 15px;
  bottom: 0px;
  position: absolute;
  opacity: 0.7;
}