<!DOCTYPE HTML>
<html>
 <head>
  <script src="{{ url_for('static', filename='down.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Сообщения</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='messages.css') }}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
 <body>
<ul>
{% for i in items %}
<div class="item">
    <div class="over-circle">
        <div class="photo-circle">
            {% if i.no_photo %}
                <img class="chat-photo" alt="" src="/static/camera_50.png">
            {% else %}
                <img class="chat-photo" alt="" src="{{ i.from.photo_50 }}">
            {% endif %}
        </div>
    </div>
    <div class="texts">
        <div class="main-title">
            <h1 class="title">{{ i.from.first_name + ' ' + i.from.last_name }}</h1>
            <div class="time" title="{{ i.full_date }}">
                {{ i.date }}
            </div>
        </div>
        <h1 class="text">{{ i.text }}</h1>
    </div>
        <!-- FWD -->
        {%- for a in i.fwd recursive %}
            <div class="fwd">
               <div class="over-circle">
                    <div class="photo-circle">
                        {% if a.no_photo %}
                    <img class="chat-photo" alt="" src="/static/camera_50.png">
                        {% else %}
                    <img class="chat-photo" alt="" src="{{ a.from.photo_50 }}">
                        {% endif %}
                    </div>
                </div>
                <div class="texts">
                    <div class="main-title">
                        <h1 class="title">{{ a.from.first_name + ' ' + a.from.last_name }}</h1>
                        <div class="time" title="{{ i.full_date }}">
                            {{ a.date }}
                        </div>
                    </div>
                    <h1 class="text">{{ a.text }}</h1>
                </div>
                <!-- ATTACHMENTS -->
                {%- for b in a.attachments %}
                    <div class="attachment">
                        {% if b.type == "photo" %}
                            <a href="{{ b.user_url }}"><h1 class="attach-desc">{{ b.desc }}</h1></a>
                            <a href="{{ b.url }}"><img class="attach-photo" alt="" src="{{ b.url }}"></a>
                        {% endif %}
                    </div>
                {%- endfor %}
                {%- if a.fwd %}
                    <div>{{ loop(a.fwd)}}</div>
                {%- endif %}
            </div>
        {%- endfor %}
        <!-- ATTACHMENTS -->
        {%- for a in i.attachments %}
            <div class="attachment">
                {% if a.type == "photo" %}
                    <a href="{{ a.user_url }}"><h1 class="attach-desc">{{ a.desc }}</h1></a>
                    <a href="{{ a.url }}"><img class="attach-photo" alt="" src="{{ a.url }}"></a>
                {% endif %}
            </div>
        {%- endfor %}

</div>
{% endfor %}
</ul>
</body>
</html>
